.window {
    &.chat {
        width: 410px;
        height: 90px;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            &::before {
                filter: brightness(115%);
            }
        }

        &:active,
        &.active {
            &::before {
                background-color: var(--c-cyan-light-alt);
            }
        }

        .avatar {
            flex: 0 0 60px;
        }

        .details {
            flex: 0 0 60%;
        }

        .meta {
            flex: 0 0 20%;
        }
    }
}
