<div class="pop-up-inner window w-fixed lg account bg-cyan">
    <div class="absolute top-20 right-20">{{{buttonBack}}}</div>
    <div class="inner d-flex flex-column h-100">
        <p style="min-height: 300px">
            [pop-up-content]
        </p>
    </div>
</div>
