<div class="input-wrap window p-0/5 sm bg-gray-light">
    <input
        type="{{{props.type}}}"
        class="input"
        name="{{{props.id}}}"
        id="{{{props.id}}}"
        placeholder="{{{props.title}}}"
    />
</div>