<div class="pop-up-inner window w-fixed lg account bg-cyan">
    <div class="absolute top-20 right-20">{{{buttonBack}}}</div>
    <div class="inner d-flex flex-column h-100 pt-5">
        <div class="d-flex flex-column align-items-center">
            <h2 class="font-400 mb-4">Chat actions</h2>
        </div>
        <div class="d-flex flex-column align-items-center chat-actions mb-3">
            <div class="mb-2">
                {{#each inputs}}
                    {{{this}}}
                {{/each}}
            </div>
            {{#each buttons}}
                {{{this}}}
            {{/each}}
        </div>
        {{{form}}}
    </div>
</div>
