<div class="inner overflow-hidden p-0/5">
    <header class="d-flex mb-2">
        {{{buttonAccount}}}
        {{{inputSearch}}}
        {{{buttonAddChat}}}
    </header>
    <div class="list overflow-y-scroll h-100 pb-4/5 pr-2">
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </div>
</div>
