<div class="window sign-in bg-orange">
    <div class="inner">
        <h2 class="text-center mb-3">Sign In</h2>
        <form action="#">
            <div class="mb-2">
                <label for="login" class="form-label">Login</label>
                {{{inputs.login}}}
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                {{{inputs.password}}}
            </div>
        </form>
    </div>
</div>