<div class="inner d-flex flex-column h-100">
    <h2 class="text-center mb-3">Uh Oh</h2>
    <p class="text-center">You are logged in. Log out?</p>
    <div class="d-flex justify-content-center">{{{buttonLogout}}}</div>
</div>
