<button type="button" class="button window sm pad text-center {{{props.styles}}}{{#if props.link}} link{{/if}}" id="{{{props.id}}}" data-path="{{{props.link}}}">
    <div class="inner">{{{props.title}}}</div>
</button>