<div class="fields">
    {{#each inputs}}
        <div class="mb-2">
            {{{this}}}
        </div>
    {{/each}}
</div>
<div class="actions d-flex flex-wrap flex-column align-items-center my-3">
    {{#each buttons}}
        {{{this}}}
    {{/each}}
</div>
