<div>
    {{{buttonSubmit}}}
    <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/png, image/jpeg"
        onchange="document.querySelector('#form_update_avatar button').classList.remove('d-none')"
    />
</div>
