<div class="inner d-flex flex-column">
    {{{props.header}}}
    <div class="messages d-flex flex-column overflow-y-scroll h-100 mb-3 pr-2">
        {{{props.date}}}
        <br />[messages]<br />
        {{{button}}}
    </div>
    {{{props.footer}}}
</div>