<div class="window lg single-chat bg-orange-light d-flex h-100">
    <div class="inner">
        {{{props.header}}}
        <div class="messages mb-3">
            {{{props.empty}}}
        </div>
        {{{props.footer}}}
    </div>
</div>