<div class="inner d-flex flex-column">
    {{{header}}}
    <div class="messages d-flex flex-column overflow-y-scroll h-100 mb-3 pr-2">
        {{{placeholder}}}
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </div>
    {{{form}}}
</div>
