<div class="window lg p-2/5 chats bg-pink d-flex h-100">
    <div class="inner overflow-hidden p-0/5">
        <header class="d-flex mb-2">
            {{{props.buttonIcon}}}
            {{{props.searchInput}}}
        </header>
        <div class="list overflow-y-scroll h-100 pb-4/5 pr-2">
            {{#each props.chats}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>