<div class="inner inner-auto">
    <img src="{{{image}}}" alt="image message" class="{{{classes.image}}}" />
    <div class="window xs p-0/33 bg-purple absolute {{{classes.datetime}}}">
        <div class="inner text-sm text-white">
            {{{datetime}}}
        </div>
    </div>
</div>
