<div class="window lg p-2/5 auth w-fixed signup bg-pink">
    <div class="inner d-flex flex-column h-100">
        <h2 class="text-center mb-3">Sign Up</h2>
        <form class="h-100 d-flex flex-column justify-content-between" action="#">
            <div class="fields">
                <div class="mb-2">
                    {{{props.inputs.login}}}
                </div>
                <div class="mb-2">
                    {{{props.inputs.password}}}
                </div>
                <div class="mb-2">
                    [extra fields]
                </div>
            </div>
            <div class="actions d-flex flex-wrap flex-column align-items-center mb-3">
                {{{props.buttons.signin}}}
                {{{props.buttons.signup}}}
            </div>
        </form>
    </div>
</div>