<div class="input-wrap window sm bg-gray-light">
    <input
        type="text"
        class="input md"
        id="message"
        name="message"
        placeholder="Your message goes here..."
    />
</div>