<div class="inner">
    <div class="content">
        {{{content}}}
    </div>
    <div class="window xs p-0/33 bg-purple absolute datetime">
        <div class="inner text-sm text-white">
            {{{datetime}}}
        </div>
    </div>
</div>