<div class="window message w-50 mb-2/5 d-flex p-2 pb-4 {{{props.styles}}}">
    <div class="inner">
        <div class="content">
            {{{props.content}}}
        </div>
        <div class="window xs bg-purple {{{classes.datetime}}}">
            <div class="inner text-sm text-white">
                {{{props.datetime}}}
            </div>
        </div>
    </div>
</div>