<div class="window chats bg-pink d-flex h-100">
    <div class="inner">
        <header class="d-flex">
            <div>[button]</div>
            <div>[search input]</div>
        </header>
    </div>
</div>