<div class="window lg chats bg-pink d-flex h-100">
    <div class="inner">
        <header class="d-flex mb-2">
            <div>[button]</div>
            {{{searchInput}}}
        </header>
        <div class="list">
            {{#each chats}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>