<div class="window w-fixed lg account bg-cyan">
    <div class="{{{classes.button-back}}}">[back button]</div>
    <div class="inner d-flex flex-column h-100">
        <div class="text-center">[avatar]</div>
        <div class="text-center">[name]</div>
        <form class="h-100 d-flex flex-column justify-content-between text-center" action="#">
            <div class="fields">
                [fields]
            </div>
            <div class="actions">
                [buttons]
            </div>
        </form>
    </div>
</div>