<div class="window {{{windowSize}}} avatar avatar-{{{props.size}}} p-0 shrink-0 {{{props.styles}}}">
    {{#if props.url}}
        <div class="inner">
            <img src="{{{props.url}}}" alt="" />
        </div>
    {{/if}}
</div>