body {
    background-color: var(--color-orange);

    main {
        padding: 40px;
        background-color: var(--color-purple);
    }
}

/** @todo refactor to components and modules later **/

.window {
    /* background-color: var(--c-green); */
    /* border: 2px solid green; */
    padding: 20px 50px;
    width: 400px;
    height: 600px;
    font-weight: bold;
    font-size: 30px;
    position: relative;

    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        z-index: 0;
        background-color: var(--c-green);
    }

    &:after {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: -1;
        background-color: var(--c-black);
    }

    &:hover {
        &:before {
            filter: brightness(125%);
        }
    }

    &:active {
        &:before {
            top: 8px;
            left: 8px;
        }

        .inner {
            top: 8px;
            left: 8px;
        }
    }

    &.bg-pink {
        &:before {
            background-color: var(--c-pink);
        }
    }

    .inner {
        position: relative;
        z-index: 1;
    }
}

.mb-3 {
    margin-bottom: 32px;
}
