body {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    background-color: var(--c-purple);
}

/** @todo remove later **/
header {
    background-color: var(--c-green);
    width: 100%;
    position: fixed;
    padding: 20px;
}

main {
    padding: 20px;
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 2.2rem;
}

/** @todo refactor to components and modules later **/

.window {
    padding: 20px 50px;
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    padding-top: 60px;

    &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        z-index: 0;
        background-color: var(--c-green);
    }

    &::after {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: -1;
        background-color: var(--c-black);
    }

    &.bg-pink {
        &::before {
            background-color: var(--c-pink);
        }
    }

    &.bg-orange {
        &::before {
            background-color: var(--c-orange);
        }
    }

    .inner {
        position: relative;
        z-index: 1;
    }
}

.h-100 {
    height: 100%;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 32px;
}

.mt-3 {
    margin-top: 32px;
}

.my-3 {
    margin: 32px 0;
}

.pb-3 {
    padding-bottom: 32px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}
