body {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 16px;
    background-color: var(--c-purple);

    /** @todo remove later **/

    & > header {
        background-color: var(--c-green);
        width: 100%;
        height: 66px;
        position: fixed;
        padding: 20px;
        border-bottom: 10px var(--c-black) solid;
        top: 0;
        z-index: 100;
    }

    &[data-bg-color="red"] {
        background-color: var(--c-red);
    }

    &[data-bg-color="pink"] {
        background-color: var(--c-pink);
    }

    &[data-bg-color="orange"] {
        background-color: var(--c-orange);
    }

    &[data-bg-color="orange-light"] {
        background-color: var(--c-orange-light);
    }

    &[data-bg-color="cyan"] {
        background-color: var(--c-cyan);
    }

    &[data-bg-color="cyan-light"] {
        background-color: var(--c-cyan-light);
    }

    &[data-bg-color="purple"] {
        background-color: var(--c-purple);
    }

    &[data-bg-color="purple-light"] {
        background-color: var(--c-purple-light);
    }

    &[data-bg-color="green"] {
        background-color: var(--c-green);
    }

    &[data-bg-color="green-light"] {
        background-color: var(--c-green-light);
    }

    &[data-bg-color="gray-light"] {
        background-color: var(--c-gray-light);
    }
}

p {
    margin: 0 0 16px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 100px auto 40px;
    min-height: calc(100vh - 70px - 100px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/*** @todo refactor to components and modules later ***/

.window {
    position: relative;
    padding: 10px;

    &::before,
    &::after {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
    }

    &::before {
        top: 0;
        left: 0;
        z-index: 0;
        background-color: var(--c-gray);
    }

    &::after {
        top: 6px;
        left: 6px;
        z-index: -1;
        background-color: var(--c-black);
    }

    &.lg {
        &::after {
            top: 10px;
            left: 10px;
        }
    }

    &.sm {
        &::after {
            top: 4px;
            left: 4px;
        }
    }

    &.xs {
        &::after {
            top: 2px;
            left: 2px;
        }
    }

    .inner {
        width: 100%;
        position: relative;
        z-index: 1;

        &-auto {
            width: auto;
        }
    }

    &.pad {
        cursor: pointer;

        &:active {
            &::before {
                top: 6px;
                left: 6px;
            }

            & > .inner {
                top: 6px;
                left: 6px;
            }
        }

        &.sm {
            &:active {
                &::before {
                    top: 4px;
                    left: 4px;
                }

                & > .inner {
                    top: 4px;
                    left: 4px;
                }
            }
        }

        &.lg {
            &:active {
                &::before {
                    top: 10px;
                    left: 10px;
                }

                & > .inner {
                    top: 10px;
                    left: 10px;
                }
            }
        }
    }

    &.button {
        width: 200px;
        padding: 10px;

        &:hover {
            &::before {
                filter: brightness(115%);
            }
        }
    }

    &.input-wrap {
        position: relative;
        width: 100%;
        padding: 0;

        &.error {
            &::before {
                background-color: var(--c-red-light);
            }

            input {
                color: var(--c-red);
            }
        }
    }

    &.input-search {
        padding-left: 30px;
    }

    &.button-icon {
        width: 40px;
        height: 40px;
    }

    &.avatar {
        padding: 0;
    }

    &.bg-pink {
        &::before {
            background-color: var(--c-pink);
        }
    }

    &.bg-red {
        &::before {
            background-color: var(--c-red);
        }
    }

    &.bg-red-light {
        &::before {
            background-color: var(--c-red-light);
        }
    }

    &.bg-orange {
        &::before {
            background-color: var(--c-orange);
        }
    }

    &.bg-orange-light {
        &::before {
            background-color: var(--c-orange-light);
        }
    }

    &.bg-cyan-light {
        &::before {
            background-color: var(--c-cyan-light);
        }
    }

    &.bg-purple-light {
        &::before {
            background-color: var(--c-purple-light);
        }
    }

    &.bg-green {
        &::before {
            background-color: var(--c-green);
        }
    }

    &.bg-green-light {
        &::before {
            background-color: var(--c-green-light);
        }
    }

    &.bg-gray-light {
        &::before {
            background-color: var(--c-gray-light);
        }
    }

    &.bg-purple {
        &::before {
            background-color: var(--c-purple);
        }
    }

    &.bg-cyan {
        &::before {
            background-color: var(--c-cyan);
        }
    }

    &.auth {
        padding: 60px 125px 20px;
    }
}

.input {
    width: 100%;
    height: 40px;
    padding: 5px 10px 3px;
    position: relative;
    z-index: 1;

    &.md {
        height: 50px;
    }
}

.validation-message {
    font-size: 12px;
    margin: 8px 0 0 4px;
}

.absolute {
    position: absolute;
}

.button {
    cursor: pointer;

    &[disabled] {
        cursor: default;
        pointer-events: none;

        &::before {
            background-color: var(--c-gray);
        }
    }
}

.text-black {
    color: var(--c-black);
}

.text-gray {
    color: var(--c-gray);
}

.text-gray-dark {
    color: var(--c-gray-dark);
}

.text-gray-darker {
    color: var(--c-gray-darker);
}

.text-white {
    color: var(--c-white);
}

/*** helpers ***/

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-1\/5 {
    margin-right: 10px;
}

.ml-1\/5 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 16px;
}

.mr-3 {
    margin-right: 32px;
}

.mb-0\/75 {
    margin-bottom: 6px;
}

.my-1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-1\/5 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-2\/5 {
    margin-bottom: 24px;
}

.mb-3 {
    margin-bottom: 32px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mt-0\/5 {
    margin-top: 4px;
}

.mt-3 {
    margin-top: 32px;
}

.my-3 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mx-1 {
    margin-left: 8px;
    margin-right: 8px;
}

.mx-3 {
    margin-left: 32px;
    margin-right: 32px;
}

.mw-100 {
    max-width: 100%;
}

.mw-50 {
    max-width: 50%;
}

.mw-fit {
    max-width: fit-content;
}

.w-fit {
    width: fit-content;
}

.w-fixed {
    width: 700px;
    padding: 32px 125px;
}

.z-2 {
    z-index: 2;
}

.p-0 {
    padding: 0;
}

.p-0\/33 {
    padding: 3px;
}

.p-0\/5 {
    padding: 5px;
}

.p-2 {
    padding: 16px;
}

.p-2\/5 {
    padding: 20px;
}

.pt-1 {
    padding-top: 8px;
}

.py-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pb-1\/5 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 16px;
}

.pb-3 {
    padding-bottom: 32px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-4\/5 {
    padding-bottom: 48px;
}

.p-3 {
    padding: 32px;
}

.pr-2 {
    padding-right: 16px;
}

.pt-1\/5 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 16px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.shrink-0 {
    flex-shrink: 0;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-hidden {
    overflow: hidden;
}

.text-sm {
    font-size: 0.875rem;
}

/*** specific styles ***/

.avatar {
    height: 60px;
    width: 60px;

    &-sm {
        width: 40px;
        height: 40px;
    }

    &-lg {
        width: 120px;
        height: 120px;
    }
}
