/* Variables */

:root {
    --c-black: #000;
    --c-white: #fff;
    --c-gray-light: #f7f8f9;
    --c-gray: #e8ebee;
    --c-gray-dark: #999;
    --c-gray-darker: #666;
    --c-orange: #fec006;
    --c-orange-light: #fef2cc;
    --c-purple: #746beb;
    --c-purple-light: #d9d7f3;
    --c-red: #ee5454;
    --c-red-light: #f9d6d9;
    --c-green: #54e851;
    --c-green-light: #d2e6dc;
    --c-violet: #a17fbc;
    --c-violet-light: #e0d2e6;
    --c-cyan: #3bb3bd;
    --c-cyan-light: #dafafd;
    --c-cyan-light-alt: #d8fcff;
    --c-pink: #e551e8;
}
