<div class="inner d-flex justify-content-between">
    <div class="title d-flex align-items-center">
        {{{avatar}}}
        <p class="font-600 mb-0 ml-2">{{{title}}}</p>
    </div>
    {{{buttonIcon}}}
</div>